# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
env/
.venv/
*.egg-info/
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/

# IDEs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Flask/Web
instance/
.flaskenv

# Hugging Face / PyTorch
# Downloaded models and caches
.cache/
models/
